# logs
/logs/
*.log

# virtual environment
/venv/
.venv

# cache
__pycache__/
/flask_session
/cache
.pytest_cache

# creds
/.env*

# ide
/.vscode
/.idea/

# files
*.xlsx
!src/base_habilis/cli/db_old/*.xlsx
*.pdf
*.jpg
*.jpeg
**/.DS_Store
TODO

# data
/postgres-data
*.dump
